<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Uploaded Videos</title>
  <style>
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
    }

    li {
      margin: 10px;
      width: calc(33.33% - 20px);
    }

    video {
      max-width: 100%;
      height: auto;
    }
  </style>
</head>

<body>
  <h1>List Uploaded Videos</h1>
  <% if (videos.length===0) { %>
    <p>No videos uploaded yet</p>
    <% } else { %>
      <ul>
        <% videos.forEach(video=> { %>
          <li>
            <p>
              <%= video %>
            </p>
            <video width="640" height="360" controls>
              <source src="/api/uploads/<%= video %>" type="video/mp4">
              <source src="/api/uploads/<%= video %>" type="video/webm">
              <source src="/api/uploads/<%= video %>" type="video/ogg">
            </video>
            <a href="/api/download/<%= video %>" download>Download</a>
            <a href="/api/delete/<%= video %>" delete>Delete</a>
          </li>
          <% }) %>
      </ul>
      <% } %>
        <h3>Upload More Videos</h3>
        <form action="/api/upload" method="post" enctype="multipart/form-data">
          <input type="file" name="video" required>
          <input type="submit" value="Upload">
        </form>
</body>

</html>